(
    version: 1,
    entities: [
        (
            name: Some("Glass"),
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.7071068, 0.0, 0.0, 0.7071067),
                scale: (0.01, 0.01, 0.01),
            ),
            mesh: None,
            collider: None,
            rigid_body: None,
            children: [
                (
                    name: None,
                    transform: (
                        translation: (0.0, 0.0, 0.0),
                        rotation: (0.0, 0.0, 0.0, 1.0),
                        scale: (1.0, 1.0, 1.0),
                    ),
                    mesh: Some((
                        path: "assets/models/arena.glb",
                        mesh_index: 2,
                        primitive_index: 0,
                    )),
                    collider: None,
                    rigid_body: None,
                    children: [],
                ),
            ],
        ),
        (
            name: Some("Fabric"),
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.7071068, 0.0, 0.0, 0.7071067),
                scale: (0.01, 0.01, 0.01),
            ),
            mesh: None,
            collider: None,
            rigid_body: None,
            children: [
                (
                    name: None,
                    transform: (
                        translation: (0.0, 0.0, 0.0),
                        rotation: (0.0, 0.0, 0.0, 1.0),
                        scale: (1.0, 1.0, 1.0),
                    ),
                    mesh: Some((
                        path: "assets/models/arena.glb",
                        mesh_index: 1,
                        primitive_index: 0,
                    )),
                    collider: None,
                    rigid_body: None,
                    children: [],
                ),
            ],
        ),
        (
            name: Some("ToyCar"),
            transform: (
                translation: (0.0, 0.0, 0.0),
                rotation: (0.7071068, 0.0, 0.0, 0.7071067),
                scale: (0.01, 0.01, 0.01),
            ),
            mesh: None,
            collider: Some(Circle(
                radius: 1.0,
            )),
            rigid_body: None,
            children: [
                (
                    name: None,
                    transform: (
                        translation: (0.0, 0.0, 0.0),
                        rotation: (0.0, 0.0, 0.0, 1.0),
                        scale: (1.0, 1.0, 1.0),
                    ),
                    mesh: Some((
                        path: "assets/models/arena.glb",
                        mesh_index: 0,
                        primitive_index: 0,
                    )),
                    collider: None,
                    rigid_body: None,
                    children: [],
                ),
                (
                    name: Some("Entity"),
                    transform: (
                        translation: (0.0, 0.0, 0.0),
                        rotation: (0.0, 0.0, 0.0, 1.0),
                        scale: (1.0, 1.0, 1.0),
                    ),
                    mesh: None,
                    collider: None,
                    rigid_body: Some(Static),
                    children: [],
                ),
            ],
        ),
    ],
)